/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import "tailwindcss";
@plugin "daisyui";
@import '@triptyk/ember-input/dist/app.css';
@import '@triptyk/ember-ui/dist/app.css';
@import '@triptyk/ember-input-validation/dist/app.css';

/* Additional global styles can be added below */
@source "../../node_modules/@triptyk/ember-ui";
@source "../../node_modules/@triptyk/ember-input";
@source "../../node_modules/@triptyk/ember-input-validation";
