/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import 'tailwindcss';
@import '@triptyk/ember-input/dist/app.css';
@import '@triptyk/ember-ui/dist/app.css';
@import '@triptyk/ember-input-validation/dist/app.css';
@import './auth.css';
@import './flash.css';
@import './modal.css';
@import '../../node_modules/@libs/treatment-front/src/styles/app.css';

@plugin "daisyui" {
  themes:
    nord --default,
    dracula,
    sunset,
    business,
    corporate,
    pastel;
}

/* Additional global styles can be added below */
@source "../../node_modules/@triptyk/ember-ui";
@source "../../node_modules/@triptyk/ember-input";
@source "../../node_modules/@triptyk/ember-input-validation";
@source "../../node_modules/@libs/users-front";
@source "../../node_modules/@libs/auth-front";
@source "../../node_modules/@libs/todos-front";
@source "../../node_modules/@libs/treatment-front";
