.auth-layout {
  @apply flex flex-col items-center justify-center min-h-screen p-4;
}

.auth-layout-content {
  @apply flex flex-col items-center w-full max-w-sm gap-4;
}

.auth-layout-content h1 {
  @apply text-2xl font-semibold text-base-content;
}

.auth-layout-content .tpk-login-form,
.auth-layout-content .tpk-forgot-password-form,
.auth-layout-content .tpk-reset-password-form {
  @apply flex flex-col w-full gap-4 bg-base-100 p-8 rounded-2xl shadow-xl border border-base-200;
}

.auth-layout-content .tpk-login-form-email,
.auth-layout-content .tpk-login-form-password,
.auth-layout-content .tpk-forgot-password-form-email,
.auth-layout-content .tpk-reset-password-form-password,
.auth-layout-content .tpk-reset-password-form-confirm-password {
  @apply w-full;
}

.auth-layout-content button[type='submit'] {
  @apply w-1/2 mx-auto btn btn-primary;
}

.auth-layout-content .forgot-password-link,
.auth-layout-content .login-link {
  @apply text-sm text-primary hover:underline text-center;
}
